 Pandas :

 Pandas Stands for Panel Data and is the core library for data manipulation and data analysis.

It consists of single and multi-dimensional data-structures for datamanipulation.

*Sigle-Dimensional                                                      *Multi-Dimensional
 |                                                                       |
 |                                                                       |
 |                                                                       |
  -> It is Series Object                                                  -> It is Data-Frame

* Series Object is a One Dimensional labeled Array
* Data Frame is a Multi Dimensional Labeled Array

In [1]:
# Pandas Series Object 

import pandas as pd
s1 = pd.Series([1,2,3,4,5,6])
s1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [2]:
type(s1)

pandas.core.series.Series

In [4]:
# Changing Index 
""" @__> in the above Seried objects index is default by numerical start from 0 . Now We can change the index as our need """
s1 = pd.Series([1,2,3,4,5,6],index = ['a','b','c','d','e','1'])
s1

a    1
b    2
c    3
d    4
e    5
1    6
dtype: int64

In [5]:
# Creating Series Object from Dictionary
""" Yes we can Create a Series Object from a Dictionary """
import pandas as pd
s2=pd.Series({'x':10,'y':20,'z':30})
s2

x    10
y    20
z    30
dtype: int64

In [6]:
# Changing Index Position 


import pandas as pd

pd.Series({'a':10,'b':20,'c':30,'d':40},index=['b','c','d','a'])

""" @--> Here if you change the index , then the index hold vlaue will change to that particular index position """

b    20
c    30
d    40
a    10
dtype: int64

In [7]:
# Extracting Individual Elements

""" Extracting a single elements """ 

s3 = pd.Series([12,34,56,78,90])
s3[1]

34

In [8]:
# Extracting a sequence of Elements
s3[:4]

0    12
1    34
2    56
3    78
dtype: int64

In [9]:
# Extracting elements from back
s3[-3:]

2    56
3    78
4    90
dtype: int64

# Basic Math Operations on Series

In [10]:
""" Adding a Scalar Value to Series Elements """
s3 + 5

0    17
1    39
2    61
3    83
4    95
dtype: int64

In [11]:
""" Adding two Series Objects """
s4 = pd.Series([10,20,30,40,50])
s5 = pd.Series([100,200,300,400,500])
s4+s5

0    110
1    220
2    330
3    440
4    550
dtype: int64

In [12]:
s4*s5

0     1000
1     4000
2     9000
3    16000
4    25000
dtype: int64

Pandas Data Frame

In [ ]:
""" @--> DataFrame is a 2-Dimensional Labelled Data-Structure """
""" @--> A Data Frame comprises of rows and columns """

# Creating a Data Frame

In [13]:
""" For Creating a dataframe we use keyword DataFrame . And give the data in the Dictionary Form """

import pandas as pd

pd.DataFrame({"Name":['Vishnu','Krishna','Ram','Siva'],"Age":[21,31,22,23]})

      Name  Age
0   Vishnu   21
1  Krishna   31
2      Ram   22
3     Siva   23

In [14]:
df=pd.DataFrame({"Name":['Vishnu','Krishna','Ram','Siva'],"Age":[21,31,22,23]})
df

      Name  Age
0   Vishnu   21
1  Krishna   31
2      Ram   22
3     Siva   23

In [15]:
type(df)

pandas.core.frame.DataFrame

# Data Frame Inbuilt Functions
head()      """ @--> It gives the first 5 rows of data in a data Frame """ 
shape()     """ @--> It gives the shape of data Frame it consists how many rows and columns """
describe()  """ @--> It gives the values of data Frame which is Mean , median , Std ,min,max """
tail()      """ @--> It gives the last 5 rows oof data in a data Frame """

In [65]:
iris = pd.read_csv('iris.csv')

In [66]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [67]:
iris.tail()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [26]:
iris.shape

(5, 4)

In [68]:
iris.describe()

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count      5.000000     5.000000      5.000000          5.0
mean       4.860000     3.280000      1.400000          0.2
std        0.207364     0.258844      0.070711          0.0
min        4.600000     3.000000      1.300000          0.2
25%        4.700000     3.100000      1.400000          0.2
50%        4.900000     3.200000      1.400000          0.2
75%        5.000000     3.500000      1.400000          0.2
max        5.100000     3.600000      1.500000          0.2

In [69]:
#""  .iloc Method  ""

""" For Exctract the rows & columns  Elements  from Data Frame  We use '.iloc[]' """
# @--> Here [starting row : ending row , staring col : eneding col ]
iris.iloc[0:3,0:3]

   Sepal_Length  Sepal_Width  Petal_Length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3

In [59]:
#""" .loc method """
# By using loc method we can get the row data of given columns in a Data Frame

iris.loc[0:3,("Sepal_Length","Petal_length","Sepal_Width")] # """ @-> loc[rowstart:rowend,(column1,column2)] """

   Sepal_Length  Petal_length  Sepal_Width
0           5.1           1.4          3.5
1           4.9           1.4          3.0
2           4.7           1.3          3.2
3           4.6           1.5          3.1

Dropping a column

In [70]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [72]:
iris.drop('Species',axis=1)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Dropping a Rows

In [75]:
""" @--> Dropping a Particular rows by giving the rows in a list """
iris.drop([1,2,3],axis=0) # It drops the rows which given in list.

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [84]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Simple Pandas Functions

#--> Mean()
#--> Median()
#--> Minimum()
#--> Maximum()

In [97]:
import pandas as pd
pd.read_csv("Iris.csv")

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [99]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [100]:
# 1. Mean

iris.mean()

TypeError: Could not convert ['setosasetosasetosasetosasetosa'] to numeric

In [103]:
iris.min()

Sepal_Length       4.6
Sepal_Width        3.0
Petal_Length       1.3
Petal_Width        0.2
Species         setosa
dtype: object

In [110]:
iris.median()

TypeError: could not convert string to float: 'setosa'

In [104]:
iris.max()

Sepal_Length       5.1
Sepal_Width        3.6
Petal_Length       1.5
Petal_Width        0.2
Species         setosa
dtype: object